.emailStyle {
  color: #f44f20;  
}
.mobileStyle {
  color: #f44f20;  
}
.emailMobileRow {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}
.nameText {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-card {
  min-height: 10rem;
  background-color: white;
  margin-bottom: 10px;
}
.modal-body-color {
  background-color: #EAEEF6;
}
.modal-title {
  color: white;
}
.closeIcons {
  color: white;
  font-size: 20px;
}
.modal-header-bg-color {
  background-color: #38445D !important;
}